.ProductCard 
{
  .card-body{
  color: rgb(8, 88, 8);
  max-width: 95%;
  max-height: 100%;
  background-color: rgba(255, 253, 253, 0.822);
  border:rgb(8, 88, 8) 3px solid;
  border-radius: 5px;
}
  
    .card-img {
      max-width: 200px;
      max-height: 250px;  
      // border:  rgba(104, 101, 101, 0.514) 2px solid;
    }
    
    .view-single-product-button{
      margin-top: 20px;
      background-color: whitesmoke;
    } 

    .card-title {
      color: rgb(8, 88, 8);
      font-size: 40px;
    }
  
}
