.ProductCard 
{
  .card-body{
  color: rgb(8, 88, 8);
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255, 253, 253, 0.822);
  border:rgb(8, 88, 8) 3px solid;
  border-radius: 1px;
}
  
    .card-img {
      max-width: 200px;
      max-height: 250px;  
      // border:  rgba(104, 101, 101, 0.514) 2px solid;
    }
    
    .view-single-product-button{
      margin-top: 20px;
      background-color: whitesmoke;
    } 
    //  .card-text-desc {
    //    font-size: 30px;
    //    font-family: $bellota
    //  }
    //  .card-text-date {
    //   font-size: 25px;
    //   font-family: $bellota
    // }
    // .card-title {
    //   font-size: 35px;
    //   font-family: $bellota
    // }
  
}
